<section ng-controller="WordsController" class="container" id="words">
  <div class="left view">
    <div class="view__inner">
      <h1>Word Inventory</h1>
      <div class="table-container">
        <table class="words" ng-init="all=true" ng-show="all">
          <thead>
            <tr>
              <td>#</td>
              <td ng-click="sortBy('name')">Word List</td>
              <td ng-click="sortBy('category')">Category</td>
              <td ng-click="sortBy('wordList.length')">#Words</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="wordGroup in wordGroups" class="inner" ng-class="{'active' : current == $index}" ng-click="click($index)">
              <td>{{ $index+1 }}</td>
              <td>{{ wordGroup.name }}</td>
              <td>{{ wordGroup.category }}</td>
              <td>{{ wordGroup.wordList.length }}</td>
            </tr>
          </tbody>
        </table>
      </div><!-- END TABLE CONTAINER -->
    </div>
  </div>
  <div class="right view" ng-show="showContent">
    <h1>{{ currentWordGroup.name }}</h1>
    <div class="wordcount">{{ currentWordList.length }} words</div>
    <table class="wordlist">
      <tbody>
        <tr class="select-tools">
          <td><input type="checkbox" ng-model="selectAll" ng-click="checkAll()"></td>
          <td>Select All</td>
          <td></td>
        </tr>
        <tr ng-repeat="word in currentWordList" class="inner" ng-class="{'active' : word.selected}">
          <td><input type="checkbox" ng-model="word.selected"></td>
          <td>{{ word.word }}</td>
          <td></td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td><input type="text"></td>
          <td><!--buttons to modify word list with their recordings-->

            <!-- limit of recording will be around  -->

            <ng-audio-recorder id="audioInput" audio-model="recordedInput">
              <!-- Start controls, exposed via recorder-->
              <div ng-if="recorder.isAvailable">
                <div class="button-group">
                  <button id="record-btn" ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
                    <i class="material-icons">fiber_manual_record</i>
                  </button>
                  <button id="stop-btn" ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
                    <i class="material-icons">stop</i>
                  </button>
                  <button id="play-btn" ng-click="recorder.playbackRecording()" type="button"
                  ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                    <i class="material-icons">play_arrow</i>
                  </button>
                  <button id="add-btn" ng-click="addWord()" type="button">
                    <i class="material-icons">add</i>
                  </button>
                </div>
              </div>

            <div ng-if="!recorder.isAvailable">
              Message for users when recording is not possible.
            </div>
            <!-- End controls-->
          </ng-audio-recorder>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
