@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext");
#classroom .buttons {
  display: flex;
  justify-content: center;
  background: #ffffff;
  padding: 20px; }
  #classroom .buttons button {
    height: 45px;
    background: #2ca58d;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
    transition: 0.25s ease; }
    #classroom .buttons button:hover {
      cursor: pointer;
      background: #84bc9c;
      color: white; }

#words h1 {
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 2px solid; }

#words .wordcount {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1rem; }

#words table.wordlist tbody tr td:first-child {
  width: 35px; }

#words table.wordlist input {
  font-size: 1rem; }

#words table.wordlist tr.select-tools {
  border-bottom: none; }
  #words table.wordlist tr.select-tools td:first-child {
    background: #f2f2f2; }

#words .button-group {
  display: flex; }
  #words .button-group #record-btn, #words .button-group #stop-btn, #words .button-group #play-btn, #words .button-group #add-btn {
    position: relative; }
    #words .button-group #record-btn i.material-icons, #words .button-group #stop-btn i.material-icons, #words .button-group #play-btn i.material-icons, #words .button-group #add-btn i.material-icons {
      font-size: 1.2rem; }
    #words .button-group #record-btn:focus, #words .button-group #stop-btn:focus, #words .button-group #play-btn:focus, #words .button-group #add-btn:focus {
      outline: 0; }
    #words .button-group #record-btn:not(:disabled) i.material-icons, #words .button-group #stop-btn:not(:disabled) i.material-icons, #words .button-group #play-btn:not(:disabled) i.material-icons, #words .button-group #add-btn:not(:disabled) i.material-icons {
      color: red; }
    #words .button-group #record-btn:not(:disabled):hover, #words .button-group #stop-btn:not(:disabled):hover, #words .button-group #play-btn:not(:disabled):hover, #words .button-group #add-btn:not(:disabled):hover {
      cursor: pointer;
      background: #f2f2f2; }
    #words .button-group #record-btn:not(:disabled)::after, #words .button-group #stop-btn:not(:disabled)::after, #words .button-group #play-btn:not(:disabled)::after, #words .button-group #add-btn:not(:disabled)::after {
      text-align: left;
      height: auto;
      width: auto;
      color: white;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 8px;
      padding: 10px; }
  #words .button-group #play-btn:not(:disabled) i.material-icons {
    color: #2ca58d; }
  #words .button-group #add-btn:not(:disabled) i.material-icons {
    color: #2ca58d; }
  #words .button-group #record-btn:not(:disabled):hover::after {
    content: 'Start recording'; }
  #words .button-group #stop-btn:not(:disabled):hover::after {
    content: 'Stop recording'; }
  #words .button-group #play-btn:not(:disabled):hover::after {
    content: 'Playback'; }
  #words .button-group #add-btn:not(:disabled):hover::after {
    content: 'add'; }
  #words .button-group button {
    display: flex;
    align-items: center;
    background: white;
    margin-right: 10px;
    padding: 5px; }

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  z-index: -2; }
  #login .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 70px 70px;
    overflow: hidden;
    background: #ffffff;
    z-index: 0; }
  #login h1.title {
    font-size: 4rem;
    font-weight: 500; }
  #login .form-container {
    width: 300px;
    height: auto;
    margin: 25px 0 0 0; }
  #login .form-input {
    position: relative; }
    #login .form-input .placeholder {
      position: absolute;
      bottom: 15px;
      left: 10px;
      font-size: 2rem;
      font-weight: medium;
      color: #d9d9d9;
      transition: .25s ease;
      z-index: -1; }
    #login .form-input input {
      width: 100%;
      height: 65px;
      font-size: 1.5rem;
      font-weight: 500;
      margin: 10px 0;
      padding: 10px;
      padding-top: 30px;
      background: transparent;
      border: none;
      border: 1px solid #bfbfbf;
      border-radius: 10px;
      z-index: 3; }
      #login .form-input input:focus {
        outline: none;
        border: 2px solid #1c8bdb; }
        #login .form-input input:focus ~ .placeholder {
          color: #1c8bdb; }
      #login .form-input input:focus ~ .placeholder, #login .form-input input:not(:focus):valid ~ .placeholder {
        bottom: 50px;
        font-size: 1.1rem; }
  #login .form-button {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    position: relative; }
    #login .form-button button {
      width: 130px;
      height: 60px;
      font-size: 1.5rem;
      color: #ffffff;
      background: #d9d9d9;
      border: none;
      border-radius: 30px;
      transition: .25s ease; }
      #login .form-button button.active {
        color: #2ca58d;
        border: 2px solid #2ca58d;
        background: none; }
        #login .form-button button.active:hover, #login .form-button button.active:focus {
          color: #ffffff;
          background: #2ca58d; }
        #login .form-button button.active:hover {
          cursor: pointer; }
        #login .form-button button.active:focus {
          outline: none; }
      #login .form-button button.animateError {
        animation: animateError .3s ease; }
    #login .form-button .text-danger {
      position: absolute;
      width: 283px;
      bottom: -200px;
      color: #ffffff;
      padding: 20px 20px 50px;
      background: #ea4884;
      transition: .3s ease; }
      #login .form-button .text-danger.show {
        bottom: -105px; }

@keyframes animateError {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(-5px); }
  40% {
    transform: translateX(5px); }
  60% {
    transform: translateX(-5px); }
  80% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0); } }

* {
  box-sizing: border-box; }

body {
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  margin: 0; }

h1, h2, h3 {
  color: #5d5b5d;
  margin: 0;
  font-weight: normal; }

table {
  border-collapse: collapse; }

table, th, tr {
  padding: 0; }

table thead tr td {
  font-weight: bold; }

form, input, button {
  font-family: 'Quicksand', sans-serif;
  margin: 0; }

input[type=checkbox]:hover {
  cursor: pointer; }

#main {
  display: flex;
  flex-direction: row; }
  #main #menu {
    display: block;
    visibility: visible;
    width: 230px;
    height: 100vh;
    background: #0a2342;
    color: #ffffff;
    position: fixed; }
    #main #menu .menu-header {
      display: flex;
      align-items: center;
      height: 100px;
      background: #ea4884;
      padding: 0 0 0 30px; }
    #main #menu .avatar img {
      width: 60px;
      height: 60px;
      border-radius: 50%; }
    #main #menu .greeting {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 15px;
      color: #f7bad1; }
    #main #menu .name {
      color: #ffffff; }
    #main #menu nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    #main #menu nav li {
      width: auto;
      height: 8%;
      transition: .25s ease; }
      #main #menu nav li:hover {
        cursor: pointer; }
        #main #menu nav li:hover a {
          border-right: 8px solid #4e6582;
          color: #ffffff; }
      #main #menu nav li a {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 20px 0 20px 20px;
        text-decoration: none;
        color: #647892;
        transition: .1s ease; }
        #main #menu nav li a.active {
          border-right: 8px solid #84bc9c;
          color: #ffffff; }
        #main #menu nav li a .material-icons {
          margin-right: 15px; }
  #main #main-view {
    display: flex;
    flex-direction: column;
    width: calc(100% - 230px);
    height: 100vh;
    transform: translateX(230px);
    transition: .3s ease; }
    #main #main-view.menu-is-collapsed {
      width: 100vw;
      transform: translateX(0); }
    #main #main-view .header {
      width: 100%;
      height: 100px;
      background: #ffffff; }
      #main #main-view .header .wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 0 0 30px; }
    #main #main-view .main-view-container {
      width: 100%;
      height: calc(100% - 100px);
      background: #f2f2f2; }
    #main #main-view #hamburger img {
      height: 40px;
      width: auto; }
      #main #main-view #hamburger img:hover {
        cursor: pointer; }
    #main #main-view h1.title {
      margin: 0 0 0 30px;
      font-size: 2em; }
  #main .container {
    height: 100%;
    color: #666666;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    font-size: 2vw;
    padding: 20px; }

.view {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative; }
  .view.left {
    width: 40%;
    padding-right: 20px; }
  .view.right {
    width: 60%;
    background: white;
    padding: 20px; }
  .view__inner {
    height: 100%;
    padding: 20px;
    background: #ffffff;
    overflow: hidden; }
  .view h1 {
    padding: 0 0 10px;
    margin: 0 0 10px;
    border-bottom: 2px solid; }
  .view .table-container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; }
  .view table {
    width: 100%;
    height: auto; }
    .view table thead {
      background: #666666;
      color: #ffffff; }
    .view table tbody {
      color: #666666; }
    .view table td {
      border: none;
      padding: 10px; }
    .view table thead tr {
      margin-bottom: 10px; }
    .view table tbody tr {
      min-width: 100%;
      border-bottom: 1px solid #f2f2f2; }
    .view table .inner {
      transition: .25s ease; }
      .view table .inner.active, .view table .inner.active:hover {
        background: #dcdcdc; }
      .view table .inner:hover {
        cursor: pointer;
        background: #f2f2f2; }
