<div ng-controller="SpellingGameController" ng-init="render()">
  <!-- <p>Instructions: type a letter and hit backspace after every letter entered.</p>
  <p>Spell 'moon'</p>
  <input type="text" ng-model="currentLetter" ng-change="check(currentLetter, $event)">
  <span>{{ currentWord }}</span>
  <div ng-repeat="statement in log track by $index">
    {{ statement }}
  </div> -->
  <div id="game">{{ message }}</div>
</div>
