<div id="main">
  <section id="menu">
    <div class="menu-header">
      <div class="avatar"><img src="app/img/avatar-placeholder.png"/></div>
      <div class="greeting">
        <div>Hello</div>
        <div class="name">{{ storage.current.user | uppercase}}</div>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a ui-sref="app.dashboard" ui-sref-active="active"><i class="material-icons">home</i>Dashboard</a>
        </li>
        <li>
          <a ui-sref="app.classroom" ui-sref-active="active"><i class="material-icons">people</i>Classroom</a>
        </li>
        <li>
          <a ui-sref="app.words" ui-sref-active="active"><i class="material-icons">list</i>Word Inventory</a>
        </li>
        <li></li>
      </ul>
    </nav>
    <button ng-click="logout()" id="logout">Logout</button>
  </section>
  <section id="main-view" ng-class="{'menu-is-collapsed' : hamburger}">
    <div class="header">
      <div class="wrapper">
        <div id="hamburger" ng-init="hamburger=false" ng-click="hamburger = !hamburger"><img src="app/img/menu.svg"/></div>
        <h1 class="title">iLearns App</h1>
      </div>
    </div>
    <div class="main-view-container">
      <ui-view></ui-view>
    </div>
  </section>
</div>
