<section ng-controller="ClassroomController" class="container" id="classroom">
  <div class="left view">
    <div class="view__inner">
      <h1>My Classroom</h1>
      <div class="table-container">
        <table class="students" ng-init="all=true" ng-show="all">
          <thead>
            <tr>
              <td>ID</td>
              <td>Last Name</td>
              <td>First Name</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in students | orderBy: 'LAST_NAME'" class="inner" ng-class="{'active' : item == $index}" ng-click="display(student, $index)">
              <td>{{ $index+1 }}</td>
              <td>{{ student.LAST_NAME }}</td>
              <td>{{ student.FIRST_NAME }}</td>
            </tr>
          </tbody>
        </table>
        <table class="students" ng-show="class25">
          <thead>
            <tr>
              <td>ID</td>
              <td>Last Name</td>
              <td>First Name</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in students25 | orderBy: 'LAST_NAME'" class="inner" ng-class="{'active' : item == $index}" ng-click="display(student, $index)">
              <td>{{ $index }}</td>
              <td>{{ student.LAST_NAME }}</td>
              <td>{{ student.FIRST_NAME }}</td>
            </tr>
          </tbody>
        </table>
        <table class="students" ng-show="class38">
          <thead>
            <tr>
              <td>ID</td>
              <td>Last Name</td>
              <td>First Name</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in students38 | orderBy: 'LAST_NAME'" class="inner" ng-class="{'active' : item == $index}" ng-click="display(student, $index)">
              <td>{{ $index }}</td>
              <td>{{ student.LAST_NAME }}</td>
              <td>{{ student.FIRST_NAME }}</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- END TABLE CONTAINER -->
    </div>
    <div class="buttons">
      <button id="all" ng-click="all=true;class25=false;class38=false;">Show All</button>
      <button id="class25" ng-click="all=false;class25=true;class38=false;">Show Class 25</button>
      <button id="class38" ng-click="all=false;class25=false;class38=true;">Show Class 38</button>
    </div>
  </div>
  <div class="right view" ng-show="showContent">
    <h3><span>{{ toDisplay.FIRST_NAME }}</span>
    <span>{{ toDisplay.LAST_NAME }}</span></h3>
    <h3>{{ item }}</h3>
  </div>
</section>
