<section ng-controller="LoginController" class="container" id="login">
  <div class="login-container">
    <h1 class="title">iLearns</h1>
    <div class="form-container">

      <form ng-submit="formSubmit()" class="form">

        <div class="form-input">
          <input type="text" class="form-control" ng-model="username" required="" title="Please enter username"><div class="placeholder">username</div></input>
        </div>

        <div class="form-input">
          <input type="password" class="form-control" ng-model="password" required=""><div class="placeholder">password</div></input>
        </div>

        <div class="form-button">
          <button type="submit" class="btn btn-success" ng-class="{'animateError' : error, 'active' : username}">Log in</button>
          <span class="text-danger" ng-class="{'show' : error}">{{ error }}</span>
        </div>

      </form>

    </div> <!-- END FORM CONTAINER -->
  </div> <!-- END LOGIN CONTAINER -->
</section>
