#classroom

  .buttons
    display: flex
    justify-content: center
    background: $white
    padding: 20px
    button
      height: 45px
      background: $green
      color: white
      border: none
      padding: 10px
      margin: 0 5px
      border-radius: 10px
      transition: 0.25s ease
      &:hover
        cursor: pointer
        background: $light-green
        color: white
