#login
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
  background: $light-grey
  z-index: -2
  .login-container
    display: flex
    flex-direction: column
    align-items: center
    padding: 50px 70px 70px
    overflow: hidden
    background: $white
    z-index: 0
  h1.title
    font-size: 4rem
    font-weight: 500
  .form-container
    width: 300px
    height: auto
    margin: 25px 0 0 0
  .form-input
    position: relative
    .placeholder
      position: absolute
      bottom: 15px
      left: $text-input-padding
      font-size: 2rem
      font-weight: medium
      color: darken($light-grey, 10%)
      transition: .25s ease
      z-index: -1
    input
      width: 100%
      height: 65px
      font-size: 1.5rem
      font-weight: 500
      margin: 10px 0
      padding: $text-input-padding
      padding-top: 30px
      background: transparent
      border: none
      border: 1px solid darken($light-grey, 20%)
      border-radius: 10px
      z-index: 3
      &:focus
        outline: none
        border: 2px solid $login-focus-color
        ~.placeholder
          color: $login-focus-color
      &:focus ~ .placeholder, &:not(:focus):valid ~ .placeholder
        bottom: 50px
        font-size: 1.1rem

  .form-button
    display: flex
    justify-content: center
    margin: 30px 0 0 0
    position: relative
    button
      width: 130px
      height: 60px
      font-size: 1.5rem
      color: $white
      background: darken($light-grey, 10%)
      border: none
      border-radius: 30px
      transition: .25s ease
      // transition: transform .25s ease/
      &.active
        color: $green
        border: 2px solid $green
        background: none
        &:hover, &:focus
          color: $white
          background: $green
        &:hover
          cursor: pointer
        &:focus
          outline: none
      &.animateError
        animation: animateError .3s ease
    .text-danger
      position: absolute
      width: 283px
      bottom: -200px
      color: $white
      padding: 20px 20px 50px
      background: $pink
      transition: .3s ease
      &.show
        bottom: -105px

@keyframes animateError
  0%
    transform: translateX(0)
  20%
    transform: translateX(-5px)
  40%
    transform: translateX(5px)
  60%
    transform: translateX(-5px)
  80%
    transform: translateX(5px)
  100%
    transform: translateX(0)
