#words
  h1
    padding: 0 0 10px
    margin: 0 0 10px
    border-bottom: 2px solid
  .wordcount
    position: absolute
    right: 20px
    top: 20px
    font-size: 1rem
  table.wordlist
    tbody tr td:first-child
      width: 35px
    input
      font-size: 1rem
    tr
      &.select-tools
        border-bottom: none
        // position: absolute
        td
          &:first-child
            background: $light-grey
            // width: 120px

  .button-group
    display: flex
    #record, #stop, #play, #add
      &-btn
        position: relative
        i.material-icons
          font-size: 1.2rem
        &:focus
          outline: 0
        &:not(:disabled)
          i.material-icons
            color: red
          &:hover
            cursor: pointer
            background: $light-grey
          &::after
            text-align: left
            height: auto
            width: auto
            color: white
            background: rgba(0, 0, 0, 0.8)
            position: absolute
            top: 100%
            left: 0
            margin-top: 8px
            padding: 10px
    #play-btn:not(:disabled) i.material-icons
      color: $green
    #add-btn:not(:disabled) i.material-icons
      color: $green
    #record-btn:not(:disabled):hover::after
      content: 'Start recording'
    #stop-btn:not(:disabled):hover::after
      content: 'Stop recording'
    #play-btn:not(:disabled):hover::after
      content: 'Playback'
    #add-btn:not(:disabled):hover::after
      content: 'add'


    button
      display: flex
      align-items: center
      background: white
      margin-right: 10px
      padding: 5px
