@import "_vars"
@import "_classroom"
@import "_words"
@import "_login"

// FONTS
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext')

*
  box-sizing: border-box

body
  font-family: "Quicksand", sans-serif
  font-weight: lighter
  margin: 0

h1, h2, h3
  color: $heading-color
  margin: 0
  font-weight: normal

table
  border-collapse: collapse
table, th, tr
  padding: 0
table thead tr td
  font-weight: bold

form, input, button
  font-family: 'Quicksand', sans-serif
  margin: 0

input[type=checkbox]
  &:hover
    cursor: pointer

#main
  display: flex
  flex-direction: row
  #menu
    display: block
    visibility: visible
    width: $menu-width
    height: 100vh
    background: $blue
    color: $white
    position: fixed
    .menu-header
      display: flex
      align-items: center
      height: $header-height
      background: $pink
      padding: 0 0 0 30px
    .avatar img
      width: 60px
      height: 60px
      border-radius: 50%
    .greeting
      display: flex
      flex-direction: column
      justify-content: center
      margin: 0 0 0 15px
      color: lighten($pink, 25%)
    .name
      color: $white
    nav
      ul
        list-style-type: none
        padding: 0
        margin: 0
      li
        width: auto
        height: 8%
        transition: .25s ease
        &:hover
          cursor: pointer
          // background: #07182e
          a
            border-right: 8px solid $nav-hover-color
            color: $white
        a
          display: flex
          align-items: center
          height: 100%
          width: 100%
          padding: 20px 0 20px 20px
          text-decoration: none
          color: $nav-font-color
          transition: .1s ease
          &.active
            // background: #223f63
            border-right: 8px solid $light-green
            color: $white
          .material-icons
            margin-right: 15px

  #main-view
    display: flex
    flex-direction: column
    width: calc(100% - #{$menu-width})
    height: 100vh
    transform: translateX($menu-width)
    transition: .3s ease
    &.menu-is-collapsed
      width: 100vw
      transform: translateX(0)
    .header
      width: 100%
      height: $header-height
      background: $white
      .wrapper
        display: flex
        align-items: center
        height: 100%
        margin: 0 0 0 30px
    .main-view-container
      width: 100%
      height: calc(100% - #{$header-height})
      background: $light-grey
    #hamburger img
      height: 40px
      width: auto
      &:hover
        cursor: pointer

    h1.title
      margin: 0 0 0 30px
      font-size: 2em

  .container
    height: 100%
    color: $dark-grey
    font-size: 2rem
    display: flex
    flex-direction: row
    background: $light-grey
    font-size: 2vw
    padding: 20px

.view
  display: flex
  flex-direction: column
  height: 100%
  position: relative
  &.left
    width: 40%
    padding-right: 20px
  &.right
    width: 60%
    background: white
    padding: 20px
  &__inner
    height: 100%
    padding: 20px
    background: $white
    overflow: hidden

  h1
    padding: 0 0 10px
    margin: 0 0 10px
    border-bottom: 2px solid

  .table-container
      height: 100%
      overflow-x: hidden
      overflow-y: auto
  table
    // font-size: 1em
    width: 100%
    height: auto
    thead
      background: $dark-grey
      color: $white
    tbody
      color: $dark-grey
    td
      border: none
      padding: 10px
    thead tr
      margin-bottom: 10px
    tbody tr
      min-width: 100%
      border-bottom: 1px solid $light-grey
    .inner
      transition: .25s ease
      &.active, &.active:hover
        background: $table-active-color
      &:hover
        cursor: pointer
        background: $light-grey
