<section ng-controller="DashboardController" class="container">
  <div class="left view">
    <div class="view__inner">
      <h1>Dashboard</h1>
      <a href="/#!/game/spelling">Spelling Game</a><!-- When deployed do not include hashtags-->
    </div>
  </div>
</section>
